nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.header {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  width: 100%;
  background-color: #ed9f03;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
   
}


.title {
  font-family: 'Bungee';
  font-size: 32px;
  margin-left: 1.5em;
}

.right-content-text {
  margin-right: 1.5em;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .fas {
  color: orangered;
  margin-top: 2px;
}

